*.o
*.swp
*.exe
*.out
*.orig

tempCodeRunnerFile.c
player
catanSimples
catan2P_testGrid.ini
player.h.save
loopCoord.c
loopCoord
criarGrid
criarGrid.c
criarGrid.h
borboleta.c
borboleta.h
player.c
player.h
teste_mapa.c
teste_mapa
teste_strcpy_mapa.c
catanUltimoRecurso
